<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Detection</title>
    <!-- Aquí puedes añadir tus estilos CSS o enlaces a hojas de estilo externas -->
</head>
<body>
    <div class="container">
        <h2>Image Detection</h2>
        <form id="detection-form" enctype="multipart/form-data">
            <input type="file" id="image" name="frame" accept="image/jpeg"><br>
            <input type="text" id="latitude" name="latitude" placeholder="Latitude" readonly><br>
            <input type="text" id="longitude" name="longitude" placeholder="Longitude" readonly><br>
            <button type="submit">Save and Detect</button>
        </form>
        <div id="detection-result">
            <p><strong>Detected Label:</strong> <span id="detected-label"></span></p>
            <p><strong>Confidence:</strong> <span id="confidence"></span></p>
        </div>
    </div>

    <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError);
            } else { 
                alert("Geolocation is not supported by this browser.");
            }
        }

        function showPosition(position) {
            document.getElementById('latitude').value = position.coords.latitude;
            document.getElementById('longitude').value = position.coords.longitude;
        }

        function showError(error) {
            switch(error.code) {
                case error.PERMISSION_DENIED:
                    alert("User denied the request for Geolocation.");
                    break;
                case error.POSITION_UNAVAILABLE:
                    alert("Location information is unavailable.");
                    break;
                case error.TIMEOUT:
                    alert("The request to get user location timed out.");
                    break;
                case error.UNKNOWN_ERROR:
                    alert("An unknown error occurred.");
                    break;
            }
        }

        document.getElementById('detection-form').addEventListener('submit', function(e) {
            e.preventDefault();
            getLocation();
            var formData = new FormData();
            formData.append('frame', document.getElementById('image').files[0]);
            formData.append('latitude', document.getElementById('latitude').value);
            formData.append('longitude', document.getElementById('longitude').value);

            // Reemplaza 'your-api-url' con la URL de tu API de Django
            fetch('https://shark-app-ko77v.ondigitalocean.app/detections/', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('detected-label').textContent = data.most_confident_label;
                document.getElementById('confidence').textContent = data.confidence;
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>
